* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.title h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #282938;
}

.title p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1b1c2b;
  width: 405px;
  margin-top: 16px;
}

.title a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #2405f2;
  margin-top: 16px;
}

.title a i {
  margin-left: 16px;
}

/* ==============================
      navbar start
================================= */

/* ==============================
      navbar end
================================= */

/* ==============================
      banner start
================================= */

/* ==============================
      banner end
================================= */

/* ==============================
      work start
================================= */

/* ==============================
      work end
================================= */
/* ==============================
      project start
================================= */

/* ==============================
      project end
================================= */

/* ==============================
      design start
================================= */

/* ==============================
      design end
================================= */

/* ==============================
      client start
================================= */

/* ==============================
      client end
================================= */
