nav {
  background: #1c1e53;
  padding: 32px 0;
}

nav .box {
  display: flex;
}

nav .logo {
  width: 20%;
  display: flex;
  align-items: center;
}

nav .nav-item {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  column-gap: 48px;
  align-items: center;
}

nav .nav-item ul {
  display: flex;
  column-gap: 32px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

nav .nav-item ul li a {
  color: #fff;
}

nav .nav-item .btn {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 1px solid rgba(244, 246, 252, 0.2);
  padding: 16px 48px;
  border-radius: 41px;
}
