.blog {
  margin-top: 128px;
}

.blog .box {
  display: flex;
  justify-content: space-between;
}

.blog .box .item {
  width: 32%;
  margin-top: 64px;
}

.blog .box .item img {
  width: 100%;
  display: block;
}

.blog .box .item span {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #66666e;
  margin-top: 40px;
}

.blog .box .item h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin: 16px 0;
}

.blog .box .item p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #66666e;
}
