.client {
  background: #f9fbfd;
  padding: 130px 0;
}

.client .box {
  display: flex;
}

.client .box .left {
  width: 33%;
}

.client .box .right {
  width: 67%;
}

.client h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}

.clientInfo {
  display: flex;
  column-gap: 14px;
  margin-top: 51px;
}

.clientInfo img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.clientInfo h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.clientInfo h4 {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
}

.clientsliderarrow {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  position: relative;
  top: -30px;
  z-index: 2;
}

.client .prev,
.client .next {
  width: 48px;
  height: 48px;
  background: #5239fa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.client .prev:hover,
.client .next:hover {
  background: #fff;
  color: #282938;
}
